extends layout

block content
    .gamelog
        .row
            h1 게임 로그 - #{gameID}

        .row.gamelog-gusers
            .col.s1 게임 인원
            each user in gusers
                .col.s2.gamelog-user
                    strong #{user.username}
                    span.rating (R#{user.rating.toFixed(1)})

        .row.logrow
            .gamelog-pbinfo
                each pbidding in pbiddings
                    .gamelog-pbid
                        each pbid in pbidding
                            div(class='card-#{pbid.bidShape}') #{pbid.bidCount}

