extends layout

block content
    .gamelog
        .row
            h1 게임 ##{gameID}
            .row
                .right 시작 : #{formatTime(startedAt, false)}
            .row
                .right 종료 : #{formatTime(endedAt, false)}
        .row &nbsp;

        // 게임 인원
        .row.gamelog-gusers
            .col.s2 인원
            each user, index in gusers
                .col.s2.gamelog-user
                    span.username #{user.username}
                    span.rating (R#{user.rating.toFixed(1)})

        // 플레이어 공약 정보
        .row.gamelog-pbiddings
            .col.s2 공약
            each pbidding, index in pbiddings
                .col.s2.gamelog-pbid(class=(index == president ? "gamelog-president" : ""))
                    each pbid in pbidding
                        div(class='gamelog-card-' + pbid.bidShape) #{pbid.bidCount}

        // 공약 정보
        each bidding in biddings
            .row.gamelog-bidding
                .col.s2 최종공약
                .col.s10
                    | #{gusers[president].username} 님이 &nbsp;
                    span(class='gamelog-card-' + bidding.bidShape) #{bidding.bidCount}
                    | &nbsp;을 공약했습니다

        // 플레이 정보
        if friendType
            .row.gamelog-friend
                .col.s2 프렌드
                .col.s10
                    | 프렌드 : &nbsp;
                    if friendType.ftype == 'card'
                        span(class='gamelog-card-' + friendType.args.shape) #{getCardNumString(friendType.args.num)}
                    else if friendType.ftype == 'first'
                        | 선구 프렌드
                    else if friendType.ftype == 'player'
                        | 지정 프렌드 - #{gusers[friendType.args].username}
                    else if friendType.ftype == 'none'
                        | 없음
                    else
                        | 알 수 없는 프렌드 (버그제보를 해주세요)

        // 플레이 인포
        each trick, index in tricks
            .row.gamelog-trick
                .col.s2 트릭##{index+1}
                each card, player in trick.cards
                    .col.s2.gamelog-pcp(class=(trick.winner == player ? "gamelog-pcp-winner " : "") + (card.num >= 10 ? "gamelog-pcp-score " : "") + (friend === player ? "gamelog-friend " : "") + (president === player ? "gamelog-president " : ""))
                        span(class='gamelog-card-' + card.shape) #{getCardNumString(card.num)}
                        if trick.occ && trick.occ[player]
                            span.right.gamelog-occ= trick.occ[player]

        if result
            .gamelog-result
                // 셋 여부
                if result.setUser !== undefined
                    .row.gamelog-set
                        .col.s2 셋
                        .col.s10
                            div [셋]  #{gusers[result.setUser].username} (#{result.setUser + 1}) 님이 다음 덱으로 셋을 했습니다.
                            .gamelog-setdeck
                                each card in result.setDeck
                                    span(class='gamelog-card-' + card.shape) #{getCardNumString(card.num)}
                .row.gamelog-result
                    .col.s2 결과
                    .col.s10
                        if (20 - result.oppcc) >= lastBidding.bidCount
                            | [여당 승리] 여당이 공약 #{lastBidding.bidCount} 이상인 #{20 - result.oppcc}개를 달성해 승리하였습니다!
                        else
                            | [야당 승리] 야당이 공약저지선 #{21 - lastBidding.bidCount} 이상인 #{result.oppcc}개를 달성해 승리하였습니다!
                .row.gamelog-score
                    .col.s2 점수
                    each score in result.scores
                        .col.s2.gamelog-score= score

        if abortReason
            .row.gamelog-abort
                .row
                    .col.s2 [중단]
                    .col.s10= abortReason
